<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="color-scheme" content="dark light">
  <link rel="stylesheet" href="/cesia.css">
</head>
<body>
  <main><article>{{ content }}</article></main>
</body>
</html>